#Dataframe creation and inspection

#1)pd.DataFrame() =>
The pd.DataFrame() function is used to create a DataFrame, which is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure.

Example 1: Creating a DataFrame from a dictionary of lists

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'charlie'],
    'Age' : [25,30,35],
    'City' : ['New York' , 'Los Angeles' , 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  charlie   35      Chicago

Example 2: Creating a DataFrame from a list of dictionaries

In [ ]:
data_list = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]
df_list = pd.DataFrame(data_list)
print(df_list)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

#2)pd.Series() =>
The pd.Series() function is used to create a one-dimensional array-like object capable of holding any data type.

Example 1: Creating a Series from a list

In [ ]:
series = pd.Series([1, 2, 3, 4])
print(series)

0    1
1    2
2    3
3    4
dtype: int64

Example 2: Creating a Series from a tuple

In [ ]:
tuple = pd.Series((1, 2, 3, 4))
print(tuple)

0    1
1    2
2    3
3    4
dtype: int64

Create a Series from the dictionary

In [ ]:
dictionary = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series = pd.Series(dictionary)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

#3)df.head() =>
The head() method returns the first n rows of the DataFrame. The default is 5.

In [ ]:
print(df.head())  # Display the first 5 rows of the DataFrame
print("\n")
print(df.head(2)) # Display the first 2 rows of the DataFrame

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  charlie   35      Chicago


    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

#4)df.tail() =>
The tail() method returns the last n rows of the DataFrame. The default is 5.

In [ ]:
print(df.tail())  # Display the last 5 rows of the DataFrame
print("\n")
print(df.tail(2)) # Display the last 2 rows of the DataFrame

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  charlie   35      Chicago


      Name  Age         City
1      Bob   30  Los Angeles
2  charlie   35      Chicago

#5)df.info() =>
The info() method provides a summary of the DataFrame, including the index dtype and column dtypes, non-null values, and memory usage.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

#6)df.describe() =>
The describe() method generates descriptive statistics that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution, excluding NaN values.

In [ ]:
print(df.describe())  # Display summary statistics for numerical columns
print("\n")
print(df.describe(include='all'))

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0


         Name   Age      City
count       3   3.0         3
unique      3   NaN         3
top     Alice   NaN  New York
freq        1   NaN         1
mean      NaN  30.0       NaN
std       NaN   5.0       NaN
min       NaN  25.0       NaN
25%       NaN  27.5       NaN
50%       NaN  30.0       NaN
75%       NaN  32.5       NaN
max       NaN  35.0       NaN

#7)df.shape =>
The shape attribute returns a tuple representing the dimensionality of the DataFrame (number of rows and columns).

In [ ]:
print(df.shape)  # Display the shape of the DataFrame

(3, 3)

#8)df.columns =>
The columns attribute returns the column labels of the DataFrame

In [ ]:
print(df.columns)  # Display the column labels of the DataFrame

Index(['Name', 'Age', 'City'], dtype='object')

#9)df.index =>
The index attribute returns the index (row labels) of the DataFrame

In [ ]:
print(df.index) #index start from 0 and end at 3 and each index is increment by one by previous index

RangeIndex(start=0, stop=3, step=1)

#10)df.dtypes =>
The dtypes attribute returns the data types of each column in the DataFrame.

In [ ]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

# Data selection and filteration

#11)df['column'] =>
Use df['column'] to select a single column from the DataFrame. This returns a Pandas Series

In [ ]:
names = df['Name']
print(names)

0      Alice
1        Bob
2    charlie
Name: Name, dtype: object

#12)df[['col1', 'col2']] =>
Use df[['col1', 'col2']] to select multiple columns. This returns a new DataFrame.

In [ ]:
name_city = df[['Name', 'City']]
print(name_city)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  charlie      Chicago

#13)loc[] =>
The loc[] function is used for label-based indexing. It can be used to select rows and columns by labels.

In [ ]:
first_row = df.loc[0]   # Selecting a single row by label
print(first_row)
print("\n")
subset = df.loc[0:1, ['Name', 'City']] # Selecting multiple rows and specific columns by labels
print(subset)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object


    Name         City
0  Alice     New York
1    Bob  Los Angeles

#14)iloc[] =>
The iloc[] function is used for integer-location based indexing. It works similarly to Python's list slicing.

In [ ]:
first_row = df.iloc[0]  # Selecting the first row
print(first_row)
print("\n")
subset = df.iloc[0:2, 0:2]  # Selecting the first two rows and first two columns
print(subset)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object


    Name  Age
0  Alice   25
1    Bob   30

filtering the rows with the condition

In [ ]:
adults = df[df['Age'] > 28]
print(adults)

      Name  Age         City
1      Bob   30  Los Angeles
2  charlie   35      Chicago

#15)query() =>
The query() method allows for filtering rows using a query string. It's useful for more complex conditions.

In [ ]:
chicago_residents = df.query('City == "Chicago"')  # return the row where city name is "Chicago"
print(chicago_residents)

      Name  Age     City
2  charlie   35  Chicago

#16)isin() =>
The isin() method is used to filter rows based on whether the values in a column are present in a list.

In [ ]:
selected_cities = df[df['City'].isin(['New York', 'Chicago'])] #returns the rows where city names are "New York" and "Chicago"
print(selected_cities)

      Name  Age      City
0    Alice   25  New York
2  charlie   35   Chicago

#17)at[] =>
age_first_row = df.at[0, 'Age']
print(age_first_row)

In [ ]:
age_first_row = df.at[0, 'Age'] // used to print first value of Age column
print(age_first_row)

25

#18)iat[] =>
The iat[] method is used for accessing a single scalar value in a DataFrame by integer position.

In [ ]:
value_first = df.iat[0, 0]  # Accessing the value at the first row and first column
print(value_first)

Alice

# Data Cleaning

#19)df.dropna() =>
This function removes missing values from the DataFrame. It can drop rows or columns with missing data

In [ ]:
import numpy as np
df = pd.DataFrame({                          # Sample DataFrame
    'A': [1, 2, np.nan, 4, 5, np.nan],
    'B': [np.nan, 2, 3, np.nan, 5, 6],
    'C': [7, 8, 9, 10, np.nan, 12],
    'D': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar']
})
df_dropna = df.dropna() #missing values "np.nan" set to the "Nan"
print(df)
print("\n")
print(df_dropna)

     A    B     C    D
0  1.0  NaN   7.0  foo
1  2.0  2.0   8.0  bar
2  NaN  3.0   9.0  foo
3  4.0  NaN  10.0  bar
4  5.0  5.0   NaN  foo
5  NaN  6.0  12.0  bar


     A    B    C    D
1  2.0  2.0  8.0  bar

#20)df.fillna(value) =>
 This function fills missing values with a specified value.

In [ ]:
df_fillna = df.fillna(0) #fills missing values with a specified value.
print(df_fillna)

     A    B     C    D
0  1.0  0.0   7.0  foo
1  2.0  2.0   8.0  bar
2  0.0  3.0   9.0  foo
3  4.0  0.0  10.0  bar
4  5.0  5.0   0.0  foo
5  0.0  6.0  12.0  bar

#21)df.drop(columns=['col1', 'col2']) =>
This function drops the specified columns from the DataFrame.

In [ ]:
df_drop_columns = df.drop(columns=['B', 'C']) #drops the specified columns from the DataFrame
print(df_drop_columns)

     A    D
0  1.0  foo
1  2.0  bar
2  NaN  foo
3  4.0  bar
4  5.0  foo
5  NaN  bar

#22)df.drop(index=[list_of_indices]) =>
This function drops rows based on the specified index labels.

In [ ]:
df_drop_index = df.drop(index=[0, 2]) #drops rows based on the specified index labels.
print(df_drop_index)

     A    B     C    D
1  2.0  2.0   8.0  bar
3  4.0  NaN  10.0  bar
4  5.0  5.0   NaN  foo
5  NaN  6.0  12.0  bar

#23)df.rename(columns={'old_name': 'new_name'}) =>
This function renames columns.

In [ ]:
df_rename = df.rename(columns={'A': 'Column_A', 'B': 'Column_B'})
print(df_rename)

   Column_A  Column_B     C    D
0       1.0       NaN   7.0  foo
1       2.0       2.0   8.0  bar
2       NaN       3.0   9.0  foo
3       4.0       NaN  10.0  bar
4       5.0       5.0   NaN  foo
5       NaN       6.0  12.0  bar

#24)df.astype(dtype) =>
 This function casts a pandas object to a specified data type.

In [ ]:
df_cast = df.astype({'A': 'float'}) #casts a pandas object to a specified data type.
print(df_cast)

     A    B     C    D
0  1.0  NaN   7.0  foo
1  2.0  2.0   8.0  bar
2  NaN  3.0   9.0  foo
3  4.0  NaN  10.0  bar
4  5.0  5.0   NaN  foo
5  NaN  6.0  12.0  bar

#25)df.duplicated() =>
 This function returns a Boolean Series indicating whether each row is a duplicate.

In [ ]:
df_duplicated = df.duplicated() # indicating whether each row is a duplicate of a previous row in the DataFrame.
print(df_duplicated)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

#26)df.drop_duplicates() =>
 This function removes duplicate rows from the DataFrame.

In [ ]:
df_drop_duplicates = df.drop_duplicates() #removes duplicate rows from the DataFrame.
print(df_drop_duplicates)

     A    B     C    D
0  1.0  NaN   7.0  foo
1  2.0  2.0   8.0  bar
2  NaN  3.0   9.0  foo
3  4.0  NaN  10.0  bar
4  5.0  5.0   NaN  foo
5  NaN  6.0  12.0  bar

#27)df.replace(to_replace, value) =>
This function replaces values in the DataFrame

In [ ]:
df_replace = df.replace({'foo': 'FOO', 'bar': 'BAR'}) #replaces values in the DataFrame
print(df_replace)

     A    B     C    D
0  1.0  NaN   7.0  FOO
1  2.0  2.0   8.0  BAR
2  NaN  3.0   9.0  FOO
3  4.0  NaN  10.0  BAR
4  5.0  5.0   NaN  FOO
5  NaN  6.0  12.0  BAR

#Data Transformation

#28)df.sort_values(by='column') =>
Sorts the DataFrame by the specified column

In [ ]:
data_f = {'A': [21, 2, 93, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]}
df = pd.DataFrame(data_f)
sorted_df = df.sort_values(by='A')
print("Sorted by column 'A':\n", sorted_df)

Sorted by column 'A':
     A  B   C
1   2  6  10
3   4  8  12
0  21  5   9
2  93  7  11

#29)df.sort_index() =>
Sorts the DataFrame by its index.

In [ ]:
sorted_index_df = df.sort_index() #sorts the indexes of the dataframe
print("Sorted by index:\n", sorted_index_df)

Sorted by index:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  charlie   35      Chicago

#30)df.reset_index() =>
Resets the index of the DataFrame, converting the index into a column

In [ ]:
reset_index_df = df.reset_index()  #converting the index into a column
print("Reset index:\n", reset_index_df)

Reset index:
    index  A  B   C
0      0  1  5   9
1      1  2  6  10
2      2  3  7  11
3      3  4  8  12

#31)df.set_index('column') =>
Sets the specified column as the index of the DataFrame.

In [ ]:
set_index_df = df.set_index('A') #Sets the specified column as the index of the DataFrame.
print("Set column 'A' as index:\n", set_index_df)

Set column 'A' as index:
    B   C
A
1  5   9
2  6  10
3  7  11
4  8  12

#32)df.transpose() =>
Transposes the DataFrame, swapping rows and columns.

In [ ]:
transposed_df = df.transpose()  # swapping rows and columns
print("Transposed DataFrame:\n", transposed_df)

Transposed DataFrame:
    0   1   2   3
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

#33)df.pivot(index='index_col', columns='columns_col', values='values_col') =>
Pivots the DataFrame based on specified index, columns, and values.

In [ ]:
data_p = {
    'date': ['2024-08-01', '2024-08-01', '2024-08-02', '2024-08-02'],
    'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'temperature': [30, 25, 28, 22]
}
df = pd.DataFrame(data_p)

print("Original DataFrame:")
print(df)
print("\n")
df_pivot = df.pivot(index='date', columns='city', values='temperature') #set date colum as index, city as "column" and temperature as "values"

print("\nPivoted DataFrame:")
print(df_pivot)

Original DataFrame:
         date         city  temperature
0  2024-08-01     New York           30
1  2024-08-01  Los Angeles           25
2  2024-08-02     New York           28
3  2024-08-02  Los Angeles           22



Pivoted DataFrame:
city        Los Angeles  New York
date
2024-08-01           25        30
2024-08-02           22        28

#34)df.melt(id_vars=['col1', 'col2']) =>
 Unpivots the DataFrame from wide to long format.

In [ ]:
data_m = {
    'Date': ['2024-01-01', '2024-01-02'],
    'Temperature': [32, 35],
    'Humidity': [80, 75]
}

df_m = pd.DataFrame(data_m)
print(df_m)
print("\n")
melted_df = pd.melt(df_m, id_vars=['Date'], var_name='Measurement', value_name='Value')
print(melted_df)

         Date  Temperature  Humidity
0  2024-01-01           32        80
1  2024-01-02           35        75


         Date  Measurement  Value
0  2024-01-01  Temperature     32
1  2024-01-02  Temperature     35
2  2024-01-01     Humidity     80
3  2024-01-02     Humidity     75

#35)df.merge(other_df, on='key', how='inner') =>
Merges two DataFrames on a key with the specified join method (inner join).

In [ ]:
df1 = pd.DataFrame({
    'key': ['A', 'B'],
    'value_df1': [10, 20]
})

df2 = pd.DataFrame({
    'key': ['B', 'C'],
    'value_df2': [30, 40]
})

# Merging the DataFrames on the 'key' column with an inner join
result = df1.merge(df2, on='key', how='inner')

print(result)

  key  value_df1  value_df2
0   B         20         30

#36)df.join(other_df, on='key') =>
Joins another DataFrame to the current one on the specified key.

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C'],
                   'value1': [1, 2, 3]})

other_df = pd.DataFrame({'key': ['A', 'B', 'D'],
                         'value2': [4, 5, 6]})

# Perform the join operation
result = df.join(other_df.set_index('key'), on='key')

print(result)

  key  value1  value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

#37)df.groupby('column') =>
Groups the DataFrame by the specified column

In [ ]:
df = pd.DataFrame({
    'category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'value': [10, 20, 30, 40, 50, 60]
})

# Group by the 'category' column
grouped = df.groupby('category')

# Apply an aggregation function to each group
result = grouped.sum()

print(result)

          value
category
A            30
B            70
C           110

#Aggregation and Grouping

#38)df.groupby('column').sum() =>
Aggregates by summing groups.

In [ ]:
data_f_A = {
    'column': ['A', 'A', 'B', 'B', 'C', 'C'],
    'col1': [10, 20, 30, 40, 50, 60],
    'col2': [5, 10, 15, 20, 25, 30],
    'value_col': [100, 200, 300, 400, 500, 600],
    'index_col': ['X', 'X', 'Y', 'Y', 'Z', 'Z'],
    'col_col': ['P', 'Q', 'P', 'Q', 'P', 'Q']
}

df = pd.DataFrame(data_f_A)
print(df)
print("\n")
grouped_sum = df.groupby('column').sum()
print("Grouped Sum:\n", grouped_sum)

  column  col1  col2  value_col index_col col_col
0      A    10     5        100         X       P
1      A    20    10        200         X       Q
2      B    30    15        300         Y       P
3      B    40    20        400         Y       Q
4      C    50    25        500         Z       P
5      C    60    30        600         Z       Q


Grouped Sum:
         col1  col2  value_col index_col col_col
column
A         30    15        300        XX      PQ
B         70    35        700        YY      PQ
C        110    55       1100        ZZ      PQ

#39)df.groupby('column').mean() =>
Aggregates by taking the mean of groups

In [ ]:
grouped_mean = df.groupby('column').mean(numeric_only=True)
print("\nGrouped Mean:\n", grouped_mean)

Grouped Mean:
         col1  col2  value_col
column
A       15.0   7.5      150.0
B       35.0  17.5      350.0
C       55.0  27.5      550.0

#40)df.groupby('column').count() =>
Aggregates by counting non-null values in group

In [ ]:
grouped_count = df.groupby('column').count()
print("\nGrouped Count:\n", grouped_count)

Grouped Count:
         col1  col2  value_col  index_col  col_col
column
A          2     2          2          2        2
B          2     2          2          2        2
C          2     2          2          2        2

#41)df.groupby('column').min() =>
 Aggregates by finding the minimum in groups

In [ ]:
grouped_min = df.groupby('column').min()
print("\nGrouped Min:\n", grouped_min)

Grouped Min:
         col1  col2  value_col index_col col_col
column
A         10     5        100         X       P
B         30    15        300         Y       P
C         50    25        500         Z       P

#42)df.groupby('column').max() =>
Aggregates by finding the maximum in groups

In [ ]:
grouped_max = df.groupby('column').max()
print("\nGrouped Max:\n", grouped_max)

Grouped Max:
         col1  col2  value_col index_col col_col
column
A         20    10        200         X       Q
B         40    20        400         Y       Q
C         60    30        600         Z       Q

#43)df.groupby('column').agg({'col1': 'sum', 'col2': 'mean'}) =>
Applies different aggregations to different columns.

In [ ]:
grouped_agg = df.groupby('column').agg({'col1': 'sum', 'col2': 'mean'})
print("\nGrouped Aggregate:\n", grouped_agg)

Grouped Aggregate:
         col1  col2
column
A         30   7.5
B         70  17.5
C        110  27.5

#44)df.groupby('column').size() =>
Returns the size of each group

In [ ]:
grouped_size = df.groupby('column').size()
print("\nGrouped Size:\n", grouped_size)

Grouped Size:
 column
A    2
B    2
C    2
dtype: int64

#45)df.groupby('column').describe() =>
 Provides summary statistics for groups.

In [ ]:
grouped_describe = df.groupby('column').describe()
print("\nGrouped Describe:\n", grouped_describe)

Grouped Describe:
         col1                                                col2        ...  \
       count  mean       std   min   25%   50%   75%   max count  mean  ...
column                                                                  ...
A        2.0  15.0  7.071068  10.0  12.5  15.0  17.5  20.0   2.0   7.5  ...
B        2.0  35.0  7.071068  30.0  32.5  35.0  37.5  40.0   2.0  17.5  ...
C        2.0  55.0  7.071068  50.0  52.5  55.0  57.5  60.0   2.0  27.5  ...

                    value_col                                                \
          75%   max     count   mean        std    min    25%    50%    75%
column
A        8.75  10.0       2.0  150.0  70.710678  100.0  125.0  150.0  175.0
B       18.75  20.0       2.0  350.0  70.710678  300.0  325.0  350.0  375.0
C       28.75  30.0       2.0  550.0  70.710678  500.0  525.0  550.0  575.0


          max
column
A       200.0
B       400.0
C       600.0

[3 rows x 24 columns]

#46)df.pivot_table(values='value_col', index='index_col', columns='col_col') =>
 Creates a pivot table.

In [ ]:

data = {
    'index_col': ['A', 'A', 'B', 'B'],
    'col_col': ['X', 'Y', 'X', 'Y'],
    'value_col': [10, 20, 30, 40]
}

df_p = pd.DataFrame(data)

# Pivot table creation
pivot_table = df_p.pivot_table(values='value_col', index='index_col', columns='col_col')

print(pivot_table)

col_col       X     Y
index_col
A          10.0  20.0
B          30.0  40.0

#47)df.crosstab(df1['col1'], df2['col2']) =>
Creates a cross-tabulation of two columns

In [ ]:
df1 = pd.DataFrame({'col1': ['A', 'B', 'A', 'B', 'C']})
df2 = pd.DataFrame({'col2': ['X', 'Y', 'X', 'Y', 'X']})

#
result = pd.crosstab(df1['col1'], df2['col2'])

print(result)

col2  X  Y
col1
A     2  0
B     0  2
C     1  0

#Statistical Functions

#48)df.mean() =>
Calculates the mean of numeric columns

In [ ]:
data_f_S = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data_f_S)
print(df)
print("\n")
mean_values = df.mean()
print("Mean:\n", mean_values)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50


Mean:
 A     3.0
B    30.0
dtype: float64

#49)df.median() =>
Calculates the median of numeric columns

In [ ]:
median_values = df.median()
print("Median:\n", median_values)

Median:
 A     3.0
B    30.0
dtype: float64

#50)df.std() =>
Calculates the standard deviation of numeric columns

In [ ]:
std_values = df.std()
print("Standard Deviation:\n", std_values)

Standard Deviation:
 A     1.581139
B    15.811388
dtype: float64

#51)df.var() =>
Calculates the variance of numeric columns.

In [ ]:
var_values = df.var()
print("Variance:\n", var_values)

Variance:
 A      2.5
B    250.0
dtype: float64

#52)df.sum() =>
Calculates the sum of numeric columns

In [ ]:
sum_values = df.sum()
print("Sum:\n", sum_values)

Sum:
 A     15
B    150
dtype: int64

#53)df.prod() =>
Calculates the product of numeric columns

In [ ]:
prod_values = df.prod()
print("Product:\n", prod_values)

Product:
 A         120
B    12000000
dtype: int64

#54)df.cumsum() =>
Calculates the cumulative sum of numeric columns

In [ ]:
cumsum_values = df.cumsum()
print("Cumulative Sum:\n", cumsum_values)

Cumulative Sum:
     A    B
0   1   10
1   3   30
2   6   60
3  10  100
4  15  150

#55)df.cumprod() =>
Calculates the cumulative product of numeric columns.

In [ ]:
cumprod_values = df.cumprod()
print("Cumulative Product:\n", cumprod_values)

Cumulative Product:
      A         B
0    1        10
1    2       200
2    6      6000
3   24    240000
4  120  12000000

#56)df.cummin() =>
Calculates the cumulative minimum of numeric columns.

In [ ]:
cummin_values = df.cummin()
print("Cumulative Minimum:\n", cummin_values)

Cumulative Minimum:
    A   B
0  1  10
1  1  10
2  1  10
3  1  10
4  1  10

#57)df.cummax() =>
Calculates the cumulative maximum of numeric columns

In [ ]:
cummax_values = df.cummax()
print("Cumulative Maximum:\n", cummax_values)

Cumulative Maximum:
    A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

#Date and Time Functions

#58)pd.to_datetime(df['date_col']) =>
Converts a column to datetime format

In [ ]:
def convert_to_datetime(df):
    df['date_col'] = pd.to_datetime(df['date_col'])
    return df


data_f_T = {'date_col': ['2024-07-29 12:34:56', '2024-07-30 15:20:10']}
df = pd.DataFrame(data_f_T)
df = convert_to_datetime(df)
print(df)

             date_col
0 2024-07-29 12:34:56
1 2024-07-30 15:20:10

#59)df['date_col'].dt.year =>
Extracts the year from a datetime column

In [ ]:
def extract_year(df):
    df['year'] = df['date_col'].dt.year
    return df


df = extract_year(df)
print(df)

             date_col  year
0 2024-07-29 12:34:56  2024
1 2024-07-30 15:20:10  2024

#60)df['date_col'].dt.month =>
Extracts the month from a datetime column

In [ ]:
def extract_month(df):
    df['month'] = df['date_col'].dt.month
    return df


df = extract_month(df)
print(df)

             date_col  year  month
0 2024-07-29 12:34:56  2024      7
1 2024-07-30 15:20:10  2024      7

#61)df['date_col'].dt.day =>
Extracts the day from a datetime column

In [ ]:
def extract_day(df):
    df['day'] = df['date_col'].dt.day
    return df


df = extract_day(df)
print(df)

             date_col  year  month  day
0 2024-07-29 12:34:56  2024      7   29
1 2024-07-30 15:20:10  2024      7   30

#62)df['date_col'].dt.hour =>
Extracts the hour from a datetime column.

In [ ]:
def extract_hour(df):
    df['hour'] = df['date_col'].dt.hour
    return df

df = extract_hour(df)
print(df)

             date_col  year  month  day  hour
0 2024-07-29 12:34:56  2024      7   29    12
1 2024-07-30 15:20:10  2024      7   30    15

#63)df['date_col'].dt.minute =>
Extracts the minute from a datetime column.

In [ ]:
def extract_minute(df):
    df['minute'] = df['date_col'].dt.minute
    return df

df = extract_minute(df)
print(df)

#64)df['date_col'].dt.second =>
Extracts the second from a datetime column.

In [ ]:
def extract_second(df):
    df['second'] = df['date_col'].dt.second
    return df

df = extract_second(df)
print(df)

             date_col  year  month  day  hour  second
0 2024-07-29 12:34:56  2024      7   29    12      56
1 2024-07-30 15:20:10  2024      7   30    15      10

#65)df['date_col'].dt.weekday =>
 Extracts the weekday from a datetime column.

In [ ]:
def extract_weekday(df):
    df['weekday'] = df['date_col'].dt.weekday
    return df


df = extract_weekday(df)
print(df)

             date_col  year  month  day  hour  second  weekday
0 2024-07-29 12:34:56  2024      7   29    12      56        0
1 2024-07-30 15:20:10  2024      7   30    15      10        1

#66)df['date_col'].dt.day_name() =>
Returns the name of the day from a datetime column.

In [ ]:
def extract_day_name(df):
    df['day_name'] = df['date_col'].dt.day_name()
    return df

df = extract_day_name(df)
print(df)

             date_col  year  month  day  hour  second  weekday day_name
0 2024-07-29 12:34:56  2024      7   29    12      56        0   Monday
1 2024-07-30 15:20:10  2024      7   30    15      10        1  Tuesday

#67)df['date_col'].dt.is_month_end =>
Checks if dates are at the end of the month

In [ ]:
def check_month_end(df):
    df['is_month_end'] = df['date_col'].dt.is_month_end
    return df


df = check_month_end(df)
print(df)

             date_col  year  month  day  hour  second  weekday day_name  \
0 2024-07-29 12:34:56  2024      7   29    12      56        0   Monday
1 2024-07-30 15:20:10  2024      7   30    15      10        1  Tuesday

   is_month_end
0         False
1         False

Some Additional functions

#68)df.value_counts() =>
Returns a Series containing counts of unique values.

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 2, 3, 1, 1],
    'B': ['x', 'y', 'x', 'x', 'y', 'z'],
    'C': [4.5, 3.6, 2.4, 7.2, 8.1, 3.3]
})

# Count unique values in column 'A'
value_counts = df['A'].value_counts()
print(value_counts)

A
1    3
2    2
3    1
Name: count, dtype: int64

#69)df.unique() =>
Returns an array of unique values in a DataFrame column.

In [ ]:
# Unique values in column 'B'
unique_values = df['B'].unique()
print(unique_values)

['x' 'y' 'z']

#70)df.nunique() =>
Returns the number of unique values per column.

In [ ]:
# Number of unique values per column
nunique_values = df.nunique()
print(nunique_values)

A    3
B    3
C    6
dtype: int64

#71)df.sample(n=5) =>
Returns a random sample of n rows.

In [ ]:
# Random sample of 5 rows
sampled_df = df.sample(n=5)
print(sampled_df)

   A  B    C
4  1  y  8.1
5  1  z  3.3
3  3  x  7.2
0  1  x  4.5
1  2  y  3.6

#72)df.corr() =>
Calculates pairwise correlation of columns.

In [ ]:
# Check data types
print(df.dtypes)
print("\n")

# Select only numeric columns
numeric_df = df.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numeric_df.corr()
print(correlation_matrix)

A      int64
B     object
C    float64
dtype: object


          A         C
A  1.000000  0.107058
C  0.107058  1.000000

#73)df.cov() =>
Calculates pairwise covariance of columns.

In [ ]:
print(df.dtypes)
print("\n")

numeric_df = df.select_dtypes(include=['number'])
covariance_matrix = numeric_df.cov()
print(covariance_matrix)

A      int64
B     object
C    float64
dtype: object


          A      C
A  0.666667  0.200
C  0.200000  5.235

#74)df.rank() =>
Ranks the values in a DataFrame.

In [ ]:
# Rank the values in the DataFrame
ranked_df = df.rank()
print(ranked_df)

     A    B    C
0  2.0  2.0  4.0
1  4.5  4.5  3.0
2  4.5  2.0  1.0
3  6.0  2.0  5.0
4  2.0  4.5  6.0
5  2.0  6.0  2.0

#75)df.diff() =>
Calculates the difference between consecutive elements.

In [ ]:
print(df.dtypes)
print("\n")
numeric_df = df.select_dtypes(include=['number'])
diff_df = numeric_df.diff()
print(diff_df)

A      int64
B     object
C    float64
dtype: object


     A    C
0  NaN  NaN
1  1.0 -0.9
2  0.0 -1.2
3  1.0  4.8
4 -2.0  0.9
5  0.0 -4.8

#76)df.clip(lower, upper) =>
Clips (limits) the values in the DataFrame to a specified range.

In [ ]:
print(df.dtypes)
print("\n")
numeric_df = df.select_dtypes(include=['number'])
clipped_df = numeric_df.clip(lower=1, upper=2)
print(clipped_df)

A      int64
B     object
C    float64
dtype: object


   A    C
0  1  2.0
1  2  2.0
2  2  2.0
3  2  2.0
4  1  2.0
5  1  2.0

#77)df.memory_usage() =>
Returns the memory usage of each column.

In [ ]:
# Memory usage of each column
memory_usage = df.memory_usage()
print(memory_usage)

Index    128
A         48
B         48
C         48
dtype: int64

Some Extra mathematical Functions

#77)df.abs() =>
Computes the absolute value of each elemen

In [ ]:
df = pd.DataFrame({'A': [-1, -2, 3], 'B': [4, -5, 6]})
print(df.abs())

   A  B
0  1  4
1  2  5
2  3  6

#78)df.pow(exponent) =>
Computes the power of each element

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3]})
print(df.pow(3))  # Raises each element to the power of 3

    A
0   1
1   8
2  27

#79)df.notna() =>
Purpose: Returns a DataFrame of the same shape as the original, with True for non-missing values and False otherwise

In [ ]:
import numpy as np
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 'b', 'c', 'd']
})

# Fill missing values with a specified value
df_filled = df.fillna(value={'A': 0, 'B': 'unknown'})
print(df_filled)
print("\n")
non_missing_values = df.notna()
print(non_missing_values)

     A        B
0  1.0  unknown
1  2.0        b
2  0.0        c
3  4.0        d


       A      B
0   True  False
1   True   True
2  False   True
3   True   True

#80)df.ffill() =>
Forward fill missing values, using the last valid observation to fill gaps

In [ ]:
df_ffilled = df.ffill() # replace unknown as "Nan" if any value is 0 then replace it by its previous value
print(df_ffilled)

     A    B
0  1.0  NaN
1  2.0    b
2  2.0    c
3  4.0    d